body {
  background-color:#777;
  margin:auto;
  width:960px;

}

.header {
    text-align:center;
    background-color:#ebebeb;
    /*border: grey solid 5px;*/
/*border-bottom: grey solid 10px;*/
margin-bottom:10px;
    padding:20px;
}

p {
    color:black;
    font-size:18px;
    font-family:Arial, sans-serif;
    /*background-color:#ebebeb;*/
}

.artheader {
    color:#ebebeb;
    font-size:18px;
    font-family:Arial, sans-serif;
    padding-top:15px;
}

.secheader {
    color:black;
    font-size:18px;
    font-family:Arial, sans-serif;
   /* background-color:white;*/
    padding:30px;
    margin-top:15px;
    background-color:#ebebeb;
   /*height:30px;*/
}

.seccontent {
    color:black;
    font-size:18px;
    font-family:Arial, sans-serif;
margin-top:10px;
margin-left:20px;
margin-right:20px;
margin-bottom:15px;
    padding:15px;
    background-color:#ebebeb;
/*border-top:grey solid 10px;*/
/*border-bottom:grey solid 15px;*/
/*border-left:grey solid 20px;*/
/*border-right:grey solid 20px;*/
}

.nav {
    color:white;
    text-align:center;
    
    background-color:#ebebeb;
    border: grey solid 5px;
}

footer {
    /*color:white;*/
/*margin-top:10px;*/    
    text-align:center;
    padding: 20px;
    background-color:#ebebeb;
/*border-top: grey solid 10px;*/
    clear:both;
    /*width:100%;*/
}


section {
    width:495px;
   
    text-align:center;
    float:left;
    /*background-color:gray;*/
   /* border: #ebebeb solid 10px;*/
    
}

article {
    color:white;
    text-align:center;
   /*background-color:#ebebeb;*/
    /*border: white solid 10px;*/
    border-left:#ebebeb solid 10px;
    border-right:#ebebeb solid 10px;
    border-bottom:#ebebeb solid 10px;
}
h1 {
    color:black;
    text-align:center;
    background-color:white;
}

h2 {
    color:black;
    text-align:center;
   
    background-color:white;
    border: grey solid 5px
}

h3 {
    color:black;
    text-align:center;
    padding:10px;
    background-color:white;
    border:grey solid 5px;
}

h4 {
    color:black;
    text-align:center;
    padding:10px;
    background-color:#ebebeb;
    border-left:grey solid 10px;
    border-right:grey solid 10px;
    font-family:Arial, sans-serif;
}
/*p2 {
    color:white;
    font-size:18px;*/
}
.art {
    color:white;
}

aside {
    /*width:495px;*/
    /*float:right;*/
   /*border-left:grey solid 15px;*/
margin-left:25px; 
width:440px;
   /*border:grey solid 15px;*/
    margin-top:15px;
    margin-bottom:20px;
    
    float:left;
    /*width:33.33%;*/
    height:270px;
    background-color:#ebebeb;
    text-align:center; 
}